* {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: #000000;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

.container {
    background: linear-gradient(135deg,#00feba,#5b548a);
    height: 520px;
    max-width: 470px;
    border-radius: 20px;
    color: #fff;
    margin:  auto ;
    text-align: center;
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input{
    border: 0;
    outline: 0;
    background: #ebfffc;
    padding: 10px 25px;
    margin: 16px;
    font-size: 18px;
    border-radius: 30px;
}

.search button{
    margin: 10px;
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    cursor: pointer;
}


.search button img{
    width: 16px;
}

.weather-icon{
    width: 170px;
    margin-top: 30px;
}


.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col{
    display: flex;
    align-items: center;
    text-align: left;
}

.col img{
    width: 40px;
    margin-right: 10px;
}

.weather h1{
    font-size: 80px;
    font-weight: 500;
}

.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}

.humidity,.wind{
    font-size: 25px;
    margin-top: -6px;
}

.error{
    text-align: center;
    margin-left: 10px;
    margin-top: 10px;
    font-size: 24px;
    display: none;
}